@media screen and (max-width: 700px) {
  .controls{
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%;
    top: auto;
    background-color: var(--color-grey-5);
    .control{
      margin: .7rem .3rem;
    }
  }
  .sec-title{
    font-size: 3rem !important;
  }
  .sec-title2{
    font-size: 4rem !important;
    line-height: 6rem !important;
  }
  .home-content{
  .left-content{
    img{
      width: 80%;
    }
  }
  .right-content{
    height: auto !important;
    margin-bottom: 6rem; 
    .first-line, .third-line{
      font-size: 2rem !important;
    }
    .second-line{
      font-size: 3rem !important;
    }
  }
  .left-content{
    padding: 2rem !important;
    height: 88vh !important;
    left: 50%;
    transform: translateX(-50%) !important;
    margin-bottom: 2rem;
  }
  }
  .stats-content{
    margin-bottom: 7rem !important;
  }
  .academics-content{
    .bottom-content{
      margin-bottom: 7rem !important;
    }
  }
  .activities-sec{
    .programs-title{
      margin-top: 6rem !important;
    }
    margin-bottom: 7rem !important;
    .programs, .teams, .clubs, .ambassadors{
      grid-template-columns: repeat(1, 1fr) !important;
  }
}
.work-content{
  margin-bottom: 7rem !important;
  .stem-part{
  .back-box{
    .title{
      font-size: 1.1rem !important;
    }
    .text{
      font-size: 1.1rem !important;
    }
    .memebers{
      font-size: .9rem !important;
    }
    }
  }
}
  .breif, p{
    text-align: start !important;
  }
}

@media screen and (max-width: 992px) {
  .control{
    width: 3rem !important;
    height: 3rem !important;
    font-size: 1.2rem !important;
  }
  #particles-js{
  background-color: transparent;
  position: absolute;
  width: 98%;
  height: 98%;
  }
  .home-content{
  .right-content{
    padding: 2rem 3rem 2rem 2rem !important;
    height: auto !important;
    .first-line, .third-line{
      font-size: 2.4rem ;
    }
    .second-line{
      font-size: 3.8rem ;
    }
  }
  .left-content{
    padding: 2rem !important;
    height: 88vh !important;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
  }
  }
  .about-content{
    .right-content{
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
  .stats-content{
    .mini-bar-text{
      font-size: .9rem !important;
    }
    .bar-text{
      font-size: 1.16rem !important;
    }
  }
  .work-content{
    .design-part, .front-end-part, .stem-part{
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
  .contact-content{
    .left-content{
      .contact-info{
        grid-template-columns: repeat(1, 1fr) !important;
        br{
          display: block !important;
        }
      }
    }
    .right-content{
      margin: 4rem 0 7rem 0;
      .first-line{
        grid-template-columns: repeat(1, 1fr) !important;
      }
    }
    .icons{
      margin-bottom: 5rem !important;
    }
  }
}