// font-family: 'Rubik Moonrocks', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Play', sans-serif;
//font-family: 'Righteous', cursive;
*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.loading-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  z-index: 999;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    transition: var(--transition);
  }
}

::-webkit-scrollbar{
  width: .7rem;
  height: 100% ;
  background-color: var(--color-grey-4);
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-secondary);
}
::-webkit-scrollbar-button{
  background-color: var(--color-grey-3);
}

body{
  font-family: var(--font-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.2rem;
}

::selection{
  color: var(--color-white);
  background-color: var(--color-secondary);
}

//independent styles

.button{
      position: relative;
      width: fit-content;
      border: var(--color-primary);
      border-radius: 50px;
      background-color: transparent;
      border: var(--color-secondary) solid 1.5px;
      display: flex;
      align-items: center;
      &:hover{
            .button-text{
              color: white;
            }
          }
      .button-text{
        color: var(--color-white);
        font-weight: bold;
        margin: 0 1.3rem 0 .5rem;
        z-index: 2;
        width: max-content;
      }
      .button-icon{
        font-size: 1.6rem;
        color: white;
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: .7rem;
        margin: -1.3px .4rem -1.3px -1.3px;
        z-index: 2;
      }
      &::before{
        content: "";
        position: absolute;
        top:-.5px;
        left: 0;
        width: 1%;
        transform: translateX(0);
        transition: var(--transition);
        z-index: 1;
        background-color: transparent;
        border-radius: 50px;
      }
      &:hover{
      &::before{
        transform: translateX(0);
        width: 101%;
        height: 103%;
        top: -.5px;
        transition: var(--transition);
        background-color: var(--color-secondary);
        border-radius: 50px;
        z-index: 1;      
      }  
    }
    }

.main-sec-title{
  position: relative;
  margin-top: 4rem;
  cursor: default;
  .sec-title{
    color: var(--color-white);
    font-weight: bolder;
    margin-left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-size: 4rem;
    display: flex;
    span{
      color: var(--color-secondary);
      margin-left: 1rem;
    }
  }
  .sec-title2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    z-index: -1;
    font-weight: 900;
    text-align: center;
    color: var(--color-grey-5);
    line-height: 8rem;
  }  
}


#particles-js{
  background-color: transparent;
  position: fixed;
  width: 98%;
  height: 98%;
  top: 0;
  left: 0;
}

.breif{
      text-align: justify;
      line-height: 2rem;
      span{
        font-size: 2.7rem;
        color: var(--color-secondary);
        font-weight: bold;
        margin-right: .1rem;
      }
    }
    .break-line{
    width: 30vw;
    height: 1px;
    background-color: var(--color-grey-5);
    margin: 5rem 0 5rem 50%;
    transform: translateX(-50%);
  }

:root{
  --color-primary: #191d2b;
  --color-secondary: rgb(19,85,248);
  --color-secondary-tr: rgba(19, 85, 248,.9);
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 10px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0 3px 15px rgba(0, 0, 0, 0.4);
  --transition: all .4s ease-in-out;
  --font-primary: "poppins", sans-serif;
  --font-secondary: 'Righteous', cursive;
}

.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary: rgb(244,9,49);
  --color-secondary-tr: rgba(244,9,49,.9);
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #454a4e;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #b2bac1;
  --color-grey-6: #12181b;
}

.section{
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  transform: translateX(-100%) scale(0);
  transition: var(--transition);
}

.sec1, .sec2, .sec3, .sec4, .sec5, .sec6{
  display: none;
  transform: translateX(0) scale(1);
}

.active{
  display: block;
  animation: pages 1s ease-in-out;
  @keyframes pages {
    0%{
      transform: translateX(-100%) scaleX(0);
    }
    100%{
      transform: translateX(0) scaleX(1);
    }
  }
}

.controls{
  position: fixed;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  .control{
    padding: 0.2rem;
    background-color: var(--color-grey-4);
    border-radius: 50%;
    margin: 0.7rem 0;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    color: white;
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
    transition: var(--transition);
    &:hover{
      box-shadow: var(--box-shadow-2);
      transform: translateY(-.2rem);
    }
  }
  .active-btn{
    background-color: var(--color-secondary);
    transition: var(--transition);
  }
}

.theme-button{
  position: fixed;
  right: 3.83%;
  top: 10%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  i{
    padding: 0.2rem;
    background-color: var(--color-grey-4);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.8rem;
    color: white;
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
    transition: var(--transition);
    &:hover{
      box-shadow: var(--box-shadow-2);
      transform: translateY(-.2rem);
    }
  }
}

// home style

.home-content{
  .left-content{
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .back{
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      clip-path: polygon(64% 0, 100% 100%, 75% 100%, 50% 25%, 25% 100%, 0 100%, 33% 0);
      width: 79%;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
    img{
      position: absolute;
      object-fit: cover;
      width: 60%;
      left: 50%;
      transform: translateX(-50%);
      height: 95%;
      top: 1.5rem;
      border-radius: var(--br-sm-2);
      transition: var(--transition);
      filter: grayscale(100%);
      &:hover{
        filter: grayscale(0);
      }
    }
  }
  .right-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 7rem 15rem 10rem 0;
    height: 100vh;
    .name{
        font-family: var(--font-primary);
        font-weight: 800;
      
      .first-line, .third-line{
        font-size: 2.4rem;
      }
      .second-line{
        color: var(--color-secondary);
        font-size: 4rem;
      }
    }
    .breif{
      margin: 1rem 0 ;
    }
  }
}

//about style

.about{
  .about-content{
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    .left-content{
      margin-bottom: 2rem;
      .title{
        font-size: 2.2rem;
        font-weight: bold;
        font-family: var(--font-tertiary);
      }
    }
    .right-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      .item{
        background-color: var(--color-primary);
        padding: 3rem 4rem 3rem 3rem;
        border: var(--color-grey-5) solid 1.5px;
        border-radius: var(--br-sm-2);
        box-shadow: var(--box-shadow-1);
        transition: var(--transition);
        position: relative;
        .large-text{
          font-weight: bold;
          font-size: 3rem;
          position: relative;
          color: var(--color-secondary);
          &::before{
            content: "";
            width: 3px;
            height: 3.7rem;
            background-color: var(--color-secondary);
            position: absolute;
            left: -1rem;
            top: .4rem;
          }
        }
        .small-text{
          font-size: 1.5rem;
          font-weight: 500;
        }
        &:hover{
          border-color: var(--color-secondary);
          transform: translateY(-.5rem);
          cursor: default;
          box-shadow: var(--box-shadow-2);
        }
      }
    }
  }
  .stats-sec{
    margin-bottom: 5rem;
    .stats-title{ 
      margin-left: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
      font-weight: bold;
      width: max-content;
      margin-bottom: 1rem;
      span{
        color: var(--color-secondary);
      }
    }
    .stats-content{
      .bar{
        margin-top: 2rem;
      .bar-text, .mini-bar-text{
        display: flex;
        position: relative;
        text-transform: uppercase;
        font-weight: 500;
        .bar-percent, .mini-bar-percent{
          position: absolute;
          right: 0;
          color: var(--color-grey-2);
        }
        }
        .bar-container, .mini-bar-container{
          margin-top: .4rem;
          width: 100%;
          height: 8px;
          background-color: var(--color-grey-2);
          border-radius: 2px;
          position: relative;
          .leadership{
            width: 90%;
          }
          .problem-solving{
            width: 85%;
          }
          .front-end{
            width: 91%;
          }
          .graphic-design{
            width: 89%;
          }
          .bar-value, .mini-bar-value{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--color-secondary);
            border-radius: 2px;
          }
        }
        .large-bar{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1rem;
          margin-top: 1rem;
          .mini-bar{
            margin-top: .5rem;
            .mini-bar-text{
              font-weight: 500;
              font-size: 1rem;
            }
            .mini-bar-container{
              height: 6px;
              margin-top: .2rem;
              border-radius: 1.5px;
          .html{
            width: 97%;
          }
          .css{
            width: 94%;
          }
          .js{
            width: 84%;
          }
          .bootstrap{
            width: 95%;
          }
          .sass{
            width: 85%;
          }
          .illustrator{
            width: 94%;
          }
          .photoshop{
            width: 90%;
          }
          .canva{
            width: 88%;
          }
          .xd{
            width: 85%;
          }
            }
            .mini-bar-value{
              border-radius: 1.5px;
            }
          }
        }
      }
    }
  }
}

//academics style

.academics{
  .academics-content{
    .top-content{
      margin-top: 3.5rem;
    }
    .bottom-content{
      margin: 4rem 0 5rem 0;
      .school{
        border: var(--color-grey-4) 1px solid;
        border-bottom: none;
        padding: 3rem 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: var(--br-sm-2);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-top: 4rem;
        transition: var(--transition);
        background-color: var(--color-primary);
        &:hover{
          border-color: var(--color-secondary);
          transform: translateY(-.5rem);
          cursor: default;
          box-shadow: var(--box-shadow-2);
        }
        .icon{
          padding: 0.2rem;
          background-color: var(--color-secondary);
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          align-items: center;
          justify-content: center;
          display: flex;
          font-size: 1.9rem;
          color: white;
          box-shadow: var(--box-shadow-1);
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -2rem;
        }
        .duration-container{
          display: flex;
          flex-wrap: wrap;
        .duration{
          background-color: var(--color-grey-5);
          color: var(--color-grey-2);
          padding: .5rem 1rem;
          border-radius: 50px;
          font-size: .9rem;
          margin: .7rem .2rem;
          font-weight: bold;
        }
        }
        .school-title{
          color: var(--color-white);
          font-weight: bold;
          font-size: 1.8rem;
          span{
            color: var(--color-secondary);
          }
        }
        p{
          text-align: justify;
        }
        a{
          text-decoration: none;
          align-self: flex-end;
        .button{
          font-size: 1.1rem;
            }
          &:hover{
            &::before{
              top: -.6px;
            }
          }
          .button-text{
            margin-right: .8rem;
          }
          .button-icon{
            font-size: 1.5rem;
          }
        }
        }
      }
      
    }
  }

//activities

.activities{
  .activities-sec{
    .programs-title, .teams-title, .clubs-title, .ambassadors-title{
      transform: translateX(-50%);
      font-size: 1.7rem;
      font-weight: bold;
      width: max-content;
      margin: 8rem 0 2rem 50%;
      span{
        color: var(--color-secondary);
      }
    }
    .teams-title, .clubs-title, .ambassadors-title{
      margin-top: 0;
    }
    .activities-content{
      .break-line{
        margin-bottom:3rem;
      }
      margin-bottom: 3rem;
      .first-part, .second-part, .third-part, .fourth-part{
      .programs, .teams, .clubs, .ambassadors{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        .program, .team, .club, .ambassador{
          background-color: var(--color-grey-5);
          display: flex;
          flex-direction: column;
          box-shadow: var(--box-shadow-1);
          transition: var(--transition);
          border-radius: 8px;
          &:hover{
            box-shadow: var(--box-shadow-2);
            transform: translateY(-.5rem);
          }
          img{
            width: 100%;
            border-radius: 8px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            transition: var(--transition);
            filter: grayscale(100%);
            &:hover{
              transform: scale(1.06);
              box-shadow: var(--box-shadow-2);
              filter: grayscale(0);
            }
          }
          .program-text, .team-text, .club-text, .ambassador-text{
            border-top: var(--color-secondary) solid 10px;
            padding: 1rem;
            .title{
              cursor: pointer;
              font-size: 1.5rem;
              text-align: center;
              font-weight: bold;
              transition: var(--transition);
              &:hover{
                color: var(--color-secondary);
              }
            }
            p{
              margin-top: .5rem;
              color: var(--color-grey-2);
            }
          }
        }
      }
      .clubs{
        grid-template-columns: repeat(2, 1fr);
      }
      .ambassadors{
        grid-template-columns: repeat(1, 1fr);
      }
    }
    }
  }
}

//work

.work{
  .work-sec{
    .design-title, .front-end-title, .stem-title{
      transform: translateX(-50%);
      font-size: 1.7rem;
      font-weight: bold;
      width: max-content;
      margin: 8rem 0 3rem 50%;
      span{
        color: var(--color-secondary);
      }
    }
    .design-title, .stem-title{
      margin-top: 0;
    }
    .work-content{
      margin-bottom: 3rem;
      .design-part, .front-end-part, .stem-part{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        .img-container{
          border-radius: var(--br-sm-2);
          box-shadow: var(--box-shadow-1);
          transition: var(--transition);
          position: relative;
          &:hover{
            box-shadow: var(--box-shadow-2);
            transform: translateY(-.5rem);
            transform: scale(1.06);
            .back-box{
              transform: scale(1);
            }
          }
          img{
            width: 100%;
            border-radius: var(--br-sm-2);
          }
          .back-box{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-secondary-tr);
            transition: var(--transition);
            transform: scale(0);
            padding: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: var(--br-sm-2);
            .title{
              font-size: 1.3rem;
              font-weight: bold;
              margin-bottom: .5rem;
              text-align: center;
              color: white;
            }
            .text{
              font-size: 1.3rem;
              font-weight: bold;
              color: white;
              margin: .5rem;
            }
            .members{
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-gap: .5rem;
              text-align: center;
              justify-content: center;
              .member{
                cursor: default;
                font-size: 1rem;
                font-weight: bold;
                color: white;
                border: solid 1px var(--color-grey-5);
                border-radius: var(--br-sm-2);
                padding: .2rem;
                transition: var(--transition);
                &:hover{
                  border-color: white;
                  color: var(--color-grey-5);
                }
              }
            }
            i{
              color: var(--color-grey-4);
              font-size: 1.4rem;
            }
            .arrow-down{
              font-size: 2rem;
              color: var(--color-grey-4);
            }
            .arrow-down-last{
              font-size: 1.5rem;
            }
            .icon{
              display: flex;
              align-items: center;
              justify-content: center;
              a{
                padding: 0.2rem;
                background-color: var(--color-grey-4);
                border-radius: 50%;
                width: 3.1rem;
                height: 3.1rem;
                align-items: center;
                justify-content: center;
                display: flex;
                font-size: 1.4rem;
                text-decoration: none;
                transition: var(--transition);
                margin: 0 1rem;
                &:hover{
                  background-color: white;
                  i{
                    color: black;
                  }
                }
                i{
                  color: white;
                }
              }
              }
            }
          }
        }
      }
    }
  }

//contact

.contact{
  .contact-content{
    .break-line{
      margin-left: 35%;
    }
    .contact-info-title, .contact-form-title{
      transform: translateX(-50%);
      font-size: 1.7rem;
      font-weight: bold;
      width: max-content;
      margin: 8rem 0 3rem 50%;
      span{
        color: var(--color-secondary);
      }
    }
    .contact-form-title{
      margin-top: 0;
    }
    .left-content{
      p{
        text-align: justify;
        line-height: 2rem;
      }
      .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-top: 2rem;
        br{
          display: none;
        }
        .info{
          display: flex;
          align-items: center;
          i{
            font-size: 1.5rem;
            color: white;
            background-color: var(--color-secondary);
            border-radius: 50px;
            width: 3rem;
            height: 3rem;
            padding: .2rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .text{
            margin-left: 1rem;
            color: var(--color-grey-1);
            .text-1{
              font-size: 1.1rem;
              font-weight: 600  ;
            }
            .text-2{
              font-size: 1rem;
              cursor: pointer;
            }
          }
        }
      }
    }
    .right-content{
      form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        font-size: 1rem;
      input, textarea{
        width: 100%;
        padding: .8rem;
        border-radius: 5px;
        outline: none;
        border: none;
        resize: none;
        background-color: var(--color-grey-4);
        position: relative;
        color: white;
        &::placeholder{
          color: white;
        }
      }
      .first-line{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
      }
      .second-line, .third-line, .input-1, .input-2{
        position: relative;
        overflow: hidden;
        &::after{
          content: "";
          background-color: var(--color-secondary);
          height: 3.5px;
          width: 100%;
          position: absolute;
          transition: var(--transition);
          bottom: 0;
          left: 0;
          z-index: 1;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          transform: translateX(-100%);
        }
        &:focus-within{
          &::after{
            transform: translateX(0);
          }
        }
      }
      .third-line{
        &::after{
          bottom: 6.5px;
        }
      }
    }
    }
    .icons{
        display: flex;
        margin: 3rem 0 2rem 0;
        width: fit-content;
        a{
          text-decoration: none;
        }
        i{
          font-size: 1.5rem;
          color: white;
          background-color: var(--color-grey-4);
          border-radius: 50px;
          width: 3rem;
          height: 3rem;
          padding: .2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: var(--transition);
          margin: .5rem;
          &:hover{
            background-color: var(--color-secondary);
          }
        }
      }
  }
}